# Production
# We install pandas here because numpy will break `python setup.py develop`
# see http://stackoverflow.com/questions/25753276/install-numpy-pandas-as-dependency-in-setup-py
pandas==0.15.1
six==1.8.0

# Development
mock==1.0.1
livereload==2.2.0
Sphinx==1.2.3
alabaster==0.6.1
sphinxcontrib-napoleon==0.2.8
sphinx-autobuild==0.3.0
pytest==2.6.4
tox==1.8.1
